    .navigation-bar{
        width: 100vw;
        height: 8vh;
        display: flex;
        align-items: center;
        position: fixed;
        overflow: hidden;
        background-color: rgba(12, 12, 12, 0.9);
        z-index: 1;
        top:0;
    }

    .navigation-bar nav ul{
        list-style: none;
        display: flex;
        gap: 22px;
    }

    .navigation-bar nav ul a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: color 0.25s ease-in-out;
        font-weight: 500;
    }

    .navigation-bar nav ul a:hover{
        color: #8A8D6E;
    }

    #home{
        height: auto;
        width: 100vw;
    }

    .home-container{
        margin-top: 60px;
        height: 90vh;
        width: 100%;
        display: flex;
    }

    .intro-area{
        height: 100%;
        width: 50%;
    }

    .name{
        color: #686F39;
        font-size: 68px;
        font-weight: 650;
        margin-left: 69px;   
    }

    .animation-container{
        margin-left: 80px;
        height: 110px;
        width: 72%;
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .role{
    color: #B6B0B0;   
    font-size: 42px;
    font-weight: 500;
    }

    .role-animation{
        color: white;
        font-size: 45px;
        font-weight: 600;

        display: inline-block;  
        white-space: nowrap;  
        overflow: hidden;     
        animation-name: typing;
        animation-duration: 1.50s;
        animation-iteration-count: infinite;
    }

            @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .item2{
        margin-left: 10px;
    }

    .introduction{
        margin-left: 75px;
        color: white;
        font-size: 20px;
    }

    .information-container{
        
        width: 100%;
        height: auto;
        color: white;
        font-size: 19px;
        display: flex;
    }

    .information{
        font-weight: 500;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .information-details{
        width: 60%;
        height: 100%;
    }       

    .profile-picture{
        height: 100%;
        width: 50%;
    }

    .my-image{
        margin-left: 230px;
        width: 381px;
        height: 381px;
        border-radius: 100%;
        overflow: hidden;
    }
    .my-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .line-container{
        margin-top: 60px;
        margin-left: 80px;
        height: 80px;
        width: 150px;
    }

    .line{
        margin-bottom: 20px;
        border-top: 1px solid white;
        animation: color-change 0.30s  infinite ease-in-out;
    }

    @keyframes color-change {
        0%,100%{
            border-top-color: white; 
        }
        50% {
            border-top-color: #00FFFF;
        }
    }

    .one{
        width: 112px;
    }

    .two{
        width: 140px;
    }

    .three{
        width: 140px;
    }

    .four{
        width: 112px;
    }

    .socialmedia-navigation{
        height: 60px;
        width: auto;
        display: flex;
        gap: 38px;
        margin-top: 20px;
        margin-left: 278px;
    }

    .icon{
        height: 50px;
        width: 50px;
    }

    .icon img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.25s ease-in-out;
    }

    .icon img:hover{
        transform: scale(1.5);
    }

    #burger {
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        display: none;
        margin-left: 10px;
      }
      .menu-panel {
        background-color: black;
        color: white;
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.5s ease-in-out;

      }
      .menu-panel ul {
        list-style: none;
        padding: 50px 20px;
      }
      .menu-panel ul li {
        margin-bottom: 16px;
      }
      .menu-panel ul li a {

        text-decoration: none;
        color: white;
        font-size: 1.2rem;
      }
      .close-btn {
        background-color: transparent;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
      }

      .menu-panel ul{
        display: flex;
        flex-direction: column;
      }