@media screen and (min-width: 1440px) {
    .name{
       font-size: 65px;
    }

    .role-animation{
        font-size: 41px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .name{
        font-size: 44px;
        margin-left: 62px;
    }

    .my-image{
        margin-left: 96px;
        height: 340px;
        width: 340px;
    }

    .socialmedia-navigation{
        margin-left: 115px;
        margin-top: 16px;
    }
    .line-container{
        margin-top: 30px;
        margin-left: 50px;
    }
    .line{
        margin-bottom: 15px;
    }

    .one{
    width: 90px;
}

.two{
    width: 125px;
}

.three{
    width: 125px;
}

.four{
    width: 90px;
}

.icon{
    height: 42px;
    width: 42px;
}

    .animation-container{
        width: 79%;
        margin-left: 64px;
    }

    .role{
        font-size: 33px;
    }
    .role-animation{
        font-size: 32px;
    }

    .introduction{
        font-size: 18px;
        margin-left: 65px;
    }

    .information{
        width: 50%;
    }

    .information-details{
        width: 50%;
    }

    .project-done{
        font-size: 45px;
    }
    
    .date-projectname{
        font-size: 16px;
    }

    .contact-heading{
        font-size: 37px;
    }

    .shadow-heading{
        font-size: 50px;
        margin-top: -127px;
    }
}

@media screen and (min-width:768px) and (max-width : 1023px) {

  .name{
    font-size: 31px;
    margin-left: 46px;
  }

  .animation-container{
    width: 85%;
    height: 60px;
    margin-left: 46px;
  }

  .role{
    font-size: 25px;
  }
  .role-animation{
    font-size: 23px;
  }

  .introduction{
    font-size: 15px;
    margin-left: 46px;
  }

  .line-container{
    margin-top: 120px;
    margin-left: 35px;
  }

  .line{
    margin-bottom: 16px;
  }

  .one{
    width: 80px;
  }

  .two{
    width: 120px;
  }
  .three{
    width: 120px;
  }
  .four{
    width: 80px;
  }
  .my-image{
    height: 280px;
    width: 280px;
    margin-left: 78px;
  }

  .socialmedia-navigation{
    margin-left: 70px;
  }

  .icon{
    height: 45px;
    width: 45px;
  }

  .information-container{
   font-size: 15px; 
  }

  .information{
    width: 50%;
  }
  .information-details{
    width: 50%;
  }

  .skill-heading{
    font-size: 21px;
  }

  .project-heading{
    margin-top: 33px;
    font-size: 21px;
  }

  .project-done{
    font-size: 37px;
  }
  .date-projectname{
    font-size: 14px;
  }

  .contact-heading{
    font-size: 33px;
  }
  .shadow-heading{
    font-size: 38px;
    margin-top: -97px;
  }

  .icon-contact{
    height: 36px;
    width: 36px;
  }
  .name-contact{
    font-size: 16px;
  }
  .contact-content{
    width: 176px;
  }
}

@media screen and (min-width: 425px) and (max-width:767px) {
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .intro-area{
        height: 60%;
        width: 100%;
    }

    .information-container{
        font-size: 17px;
    }
    .name{
        font-size: 36px;
        margin-left: 20px;
    }
    .animation-container{
        margin-left: 21px;
        height: 40px;
        width: 87%;
    }

    .role{
        font-size: 29px;
    }
    .role-animation{
        font-size: 29px;
    }

    .introduction{
        margin-left: 19px;
        font-size: 17px;
    }

    .profile-picture{
        height: 40%;
        width: 100%;
    }

    .my-image{
        height: 200px;
        width: 200px;
        margin-left: 122px;
    }

    .line-container{
        margin-top: 19px;
        margin-left: 38px;
        height: 40px;

    }

    .icon{
        height: 34px;
        width: 34px;
    }

    .socialmedia-navigation{
        gap: 23px;
        margin-top: 7px;
        margin-left: 124px;
    }

    .one{
        width: 52px;
    }

    .two{
        width: 100px;
    }
    .three{
        width: 100px;
    }
    .four{
        width: 52px;
    }

    .line{
        margin-bottom: 13px;
    }

    .mid-center-box{
        grid-template-columns: repeat(2,1fr);
    }

    .skill-heading{
        font-size: 20px;
    }

    .project-heading{
        font-size: 20px;
    }
    .project-done{
        font-size: 25px;
        margin-top: 45px;
        margin-bottom: 67px;
    }

    .date-projectname{
        font-size: 10px;
    }

    .contact-heading{
        font-size: 27px;

    }

    .shadow-heading{
        font-size: 34px;
        margin-top: -83px;
    }

    .contact-container{
        flex-direction: column;
    }
    .icon-contact{
        height: 54px;
        width: 54px
    }

    .name-contact{
        height: 59px;
        width: 154px;
        font-size: 18px;
    }
}

@media screen and (min-width:375px ) and (max-width: 425px){
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .intro-area{
        height: 60%;
        width: 100%;
    }

    .information-container{
        font-size: 17px;
    }
    .name{
        font-size: 35px;
        margin-left: 20px;
    }
    .animation-container{
        margin-left: 21px;
        height: 40px;
        width: 87%;
    }

    .role{
        font-size: 26px;
    }
    .role-animation{
        font-size: 24px;
    }

    .introduction{
        margin-left: 19px;
        font-size: 17px;
    }

    .profile-picture{
        height: 40%;
        width: 100%;
    }

    .my-image{
        height: 180px;
        width: 180px;
        margin-left: 122px;
    }

    .line-container{
        margin-top: 19px;
        margin-left: 38px;
        height: 40px;

    }

    .icon{
        height: 34px;
        width: 34px;
    }

    .socialmedia-navigation{
        gap: 23px;
        margin-top: 7px;
        margin-left: 105px;
    }

    .one{
        width: 52px;
    }

    .two{
        width: 100px;
    }
    .three{
        width: 100px;
    }
    .four{
        width: 52px;
    }

    .line{
        margin-bottom: 13px;
    }

    .mid-center-box{
        grid-template-columns: repeat(2,1fr);
    }

    .skill-heading{
        font-size: 20px;
    }

    .project-heading{
        font-size: 20px;
    }
    .project-done{
        font-size: 25px;
        margin-top: 45px;
        margin-bottom: 67px;
    }

    .date-projectname{
        font-size: 10px;
    }

    .contact-heading{
        font-size: 27px;

    }

    .shadow-heading{
        font-size: 34px;
        margin-top: -83px;
    }

    .contact-container{
        flex-direction: column;
    }
    .icon-contact{
        height: 54px;
        width: 54px
    }

    .name-contact{
        height: 59px;
        width: 154px;
        font-size: 18px;
    }

    .box{
        height: 185px;
    }
}

@media screen and (min-width:0px ) and (max-width: 375px){
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .intro-area{
        height: 60%;
        width: 100%;
    }

    .information-container{
        font-size: 16px;
    }
    .name{
        font-size: 29px;
        margin-left: 11px;
    }
    .animation-container{
        margin-left: 11px;
        height: 40px;
        width: 91%;
    }

    .role{
        font-size: 26px;
    }
    .role-animation{
        font-size: 23px;
    }

    .introduction{
        margin-left: 11px;
        font-size: 15px;
    }

    .profile-picture{
        height: 40%;
        width: 100%;
    }

    .my-image{
        height: 180px;
        width: 180px;
        margin-left: 122px;
    }

    .line-container{
        margin-top: 19px;
        margin-left: 38px;
        height: 40px;

    }

    .icon{
        height: 34px;
        width: 34px;
    }

    .socialmedia-navigation{
        gap: 23px;
        margin-top: 7px;
        margin-left: 105px;
    }

    .one{
        width: 52px;
    }

    .two{
        width: 100px;
    }
    .three{
        width: 100px;
    }
    .four{
        width: 52px;
    }

    .line{
        margin-bottom: 13px;
    }

    .mid-center-box{
        grid-template-columns: repeat(2,1fr);
    }

    .skill-heading{
        font-size: 20px;
    }

    .project-heading{
        font-size: 20px;
    }
    .project-done{
        font-size: 25px;
        margin-top: 45px;
        margin-bottom: 67px;
    }

    .date-projectname{
        font-size: 10px;
    }

    .contact-heading{
        font-size: 27px;

    }

    .shadow-heading{
        font-size: 34px;
        margin-top: -83px;
    }

    .contact-container{
        flex-direction: column;
    }
    .icon-contact{
        height: 54px;
        width: 54px
    }

    .name-contact{
        height: 59px;
        width: 154px;
        font-size: 18px;
    }
    .skill-name{
        font-size: 18px;
    }
    .box-img {
        height: 51px;
        width: 51px;
    }   

    .box{
        row-gap: 3px;
        height: 148px;
    }
}

@media screen and (max-width: 428px) {

    .normal-navigation{
        display: none;
    }
    #burger {
      display: block;
      
    }
    .navigation {
      display: none;
    }
    .logo-container > h3 {
      display: none;
    }
    .menu-panel.active {
     
      left: 0;
    }
  }